body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--tg-theme-text-color);
    /*noinspection CssUnresolvedCustomProperty*/
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 1fr;
}

.inner {
    width: 125%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    /*grid-template-rows: 200px 200px;*/
}


.img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.item {
    text-align: center;
    flex: 32%;
    max-width: 25%;
    padding: 0 4px;
}
/*@media screen and (max-width: 100px) {*/
/*    .item {*/
/*        flex: 32%;*/
/*        max-width: 32%;*/
/*    }*/
/*}*/

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;

    transition: background .2s linear;
}
.adjust-buttons {

}
.layered {
    display: grid;
    justify-items: center;
    align-items: center;
}

.layered > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

/* or for inline elements */
.inline-layered {
    display: inline-grid;
}

.inline-layered > * {
    grid-column-start: 1;
    grid-row-start: 1;
}
.add-btn {
    position: relative;
    top: 0px;
    left: 0px;
}
.init-btn {
    z-index: 100;
}
.sub-btn {
    position: relative;
    top: 0px;
    left: 0px;
}
#item1_amount {
    font-size: larger;
    float: none; display:inline; width: 40%;
}

.btn:hover {
    background: lightgreen;
}

.usercard {
    text-align: center;
}